$darkgrey: rgb(41, 45, 62);
$modalBGColor: white;
.modalRoot {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: 10;
}
.modalBackdrop {
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(#000, 0.1);
}
// .modal {

//     margin: 15px;
//     z-index: 999;
//     position: relative;
// }
// @media screen and (max-width: 650px) {
//     .modal {

//         margin: 5px;
//     }
// }
.cross {
  border: none;
  // background-color: mix($modalBGColor, black, 70%);
  // background-color: mix(red, white, 70%);

  color: $darkgrey;
  cursor: pointer;
  font-size: 21px;
  font-weight: bolder;
  line-height: 0.8;
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 8px;
  font-weight: bold;
  border-radius: 10px;
  &:hover,
  &:focus {
    background-color: mix(red, white, 70%);
    color: white;
    outline-offset: 2px;
  }
}
$myLinkButtonColor: #074fc9;
a.linkButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px; // plus the 3px margin-left in ExternalA's icon

  background-color: $myLinkButtonColor;
  color: white;
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  margin-bottom: 10px; // ------ TO FIX WEIRD PADDING: 15PX
  transition: 0.3s;

  &:visited {
    background-color: $myLinkButtonColor;
    color: white;
  }
  &:hover,
  &:focus {
    // background-color: mix($myLinkButtonColor, white, 90%);
    // background-color: #c3346f;
    background-color: rgb(213, 0, 89);
    color: white;
    outline-offset: 2px;
  }
  &:active {
    background-color: #f96d2b;
    color: white;
  }
}
.disableScrollForModal {
  overflow: hidden;
}
.modalContent {
  margin: 0 15px;
  z-index: 999;
  position: relative;

  top: 50%;
  transform: translateY(-50%);

  border-radius: 15px;
  background: $modalBGColor;
  box-shadow: 0 0 10px #0001;
  display: flex;
  flex-direction: column;
  gap: 10px;
  // width: 100%;
  // padding: 15px; ------- MOVE SOMEWHERE ELSE
  padding-left: 10px;
  padding-right: 10px;

  max-height: 100%;
  img {
    border-radius: 5px;
    max-width: 100%;
    max-height: 100%;
    display: block;
  }
}
h2 em {
  color: rgb(98, 104, 128);
  font-size: 0.8em;
  font-weight: 400;
}
.unconfirmed {
  padding: 5px 10px;
  font-size: 12px;
  color: #fff;
  margin: 0 5px;
  border-radius: 50px;
  background-color: #c3346f;
  vertical-align: middle;
}
